<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改当天交易数据')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-Profit-edit" th:object="${profitLog}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">日期：</label>
                <div class="col-sm-8">
                    <input name="clearDate" th:field="*{clearDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易笔数：</label>
                <div class="col-sm-8">
                    <input name="txCount" th:field="*{txCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总交易手续费：</label>
                <div class="col-sm-8">
                    <input name="totalFee" th:field="*{totalFee}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易费返还：</label>
                <div class="col-sm-8">
                    <input name="feeReturn" th:field="*{feeReturn}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成功交易的手续费：</label>
                <div class="col-sm-8">
                    <input name="successFee" th:field="*{successFee}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易失败的手续费：</label>
                <div class="col-sm-8">
                    <input name="failFee" th:field="*{failFee}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">利润：</label>
                <div class="col-sm-8">
                    <input name="profit" th:field="*{profit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "Profit/Profit";
        $("#form-Profit-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-Profit-edit').serialize());
            }
        }
    </script>
</body>
</html>