<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增有费率的币')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-coinlist-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">币地址：</label>
                <div class="col-sm-8">
                    <input name="coinName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">钱包地址：</label>
                <div class="col-sm-8">
                    <input name="tokenAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据状态:1，有效，0，无效：</label>
                <div class="col-sm-8">
                    <input name="dataStatus" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">链：</label>
                <div class="col-sm-8">
                    <input name="chainType" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "swap/coinlist"
        $("#form-coinlist-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-coinlist-add').serialize());
            }
        }
    </script>
</body>
</html>